:root{

--bg:#09090B;
--surface:#111113;
--card:#18181B;

--border:#27272A;

--text:#FAFAFA;
--muted:#A1A1AA;

--blue:#4F8CFF;
--green:#22C55E;
--purple:#8B5CF6;
--amber:#F59E0B;

--radius:16px;

--max-width:1250px;

}

